extends layout
block content
  if user
    p.userWelcomeMsg Welcome back #{user.username} to Members Only!
    if user.member
      p Member
    if user.admin
      p Admin
  if newMsg
    .message
      each message in newMsg
        .message-container
            h3.msgTopic=message.title
            hr
            p.msgText=message.message
            .details-container
              if user
                if user.member
                  p.msgUser=`- ${message.username}`
                else
                  p.msgUser - Anonymous
              else
                  p.msgUser - Anonymous
              p.msgDate=message.timestamp
              if user
                if user.admin
                  a.delete-button(href='/delete/'+message._id) Delete Item