extends layout
block content
  h2.home-intro Sign Up to Write a New Message
  if user
    h3.userWelcomeMsg Welcome back #{user.username}!
  if newMsg
    .message
      each message in newMsg
        .message-container
            h3.msgTopic=message.title
            hr
            p.msgText=message.message
            .details-container
              if user
                if user.member || user.admin
                  p.msgUser - #{message.username.username}
                else
                  p.msgUser - Anonymous
              else
                  p.msgUser - Anonymous
              p.msgDate=message.timestamp
              if user
                if user.admin
                  a.delete-button(href='/delete/'+message._id) Delete Item