extends layout

block content
  h1= title
  if user && !user.member && !user.admin
    p Upgrade your status #{user.username}!
    a(href='/') Home
    a(href='/log-out') Log Out!
    h2 Become a member
    p As a member you will be able to view the names of authors.
    form(class="memberForm" method='POST' action="/upgradeMember")
        div.form-group
        label(for='memberPasscode')
        input(type='text', placeholder='Passcode' name='memberPasscode' required)
        div.form-group
        button.add-item-button(type='submit') Submit
    form(class="adminForm" method='POST' action="/upgradeMember")
        div.form-group
        label(for='adminPasscode')
        input(type='text', placeholder='Passcode' name='adminPasscode' required)
        div.form-group
        button.add-item-button(type='submit') Submit
  if user && user.member && !user.admin
    p Upgrade your status #{user.username}!
    a(href='/') Home
    a(href='/log-out') Log Out!
    h2 Become a member
    p As a member you will be able to view the names of authors.
    form(class="memberForm" method='POST' action="/upgradeMember/removeMember")
        button.add-item-button(type='submit' name='removeMember') Remove Member Status
    form(class="adminForm" method='POST' action="/upgradeMember")
        div.form-group
        label(for='adminPasscode')
        input(type='text', placeholder='Passcode' name='adminPasscode' required)
        div.form-group
        button.add-item-button(type='submit') Submit
  if user && user.admin && !user.member
    p Upgrade your status #{user.username}!
    a(href='/') Home
    a(href='/log-out') Log Out!
    h2 Become a member
    p As a member you will be able to view the names of authors.
    form(class="memberForm" method='POST' action="/upgradeMember")
       div.form-group
       label(for='memberPasscode')
       input(type='text', placeholder='Passcode' name='memberPasscode' required)
       div.form-group
       button.add-item-button(type='submit') Submit
    form(class="adminForm" method='POST' action="/upgradeMember/removeAdmin")
       button.add-item-button(type='submit' name='removeAdmin') Remove Admin Status
  if user && user.admin && user.member
    p Upgrade your status #{user.username}!
    a(href='/') Home
    a(href='/log-out') Log Out!
    h2 Become a member
    p As a member you will be able to view the names of authors.
    form(class="memberForm" method='POST' action="/upgradeMember/removeMember")
       button.add-item-button(type='submit' name='removeMember') Remove Member Status
    form(class="adminForm" method='POST' action="/upgradeMember/removeAdmin")
       button.add-item-button(type='submit' name='removeAdmin') Remove Admin Status
  if !user && !user.admin && !user.member
    a(href='/') Home
    a(href='/login') Login
    a(href='/signUp') Sign-Up
    p Login or Sign-up to upgrade your member status!
  